// $color-red: #b43f2e;
$color-red: #c6302a;
$color-dark: #002626;
$color-blue: #39686a;
$color-green: #a8d04b;
$color-white: #fff;
$color-white-darker: #f1f1f1;


$main-background-color: $color-white-darker;
$main-font-color: $color-dark;

$header-title-color: $color-white;

$membership-valid-color: $color-green;
$membership-invalid-color: $color-red;

$box-background-color: $color-white;

$footer-color: $color-blue;


$button-default-color: $color-white;
$button-default-background-color: #aaa;

$border-color: rgba($color-dark, .2);
