
@import '../settings';
@import '../../node_modules/normalize.scss/normalize';
@import '../../node_modules/ladda/css/ladda';
@import '../mq-mixins';

@import '../fonts';


body {
  background-color: $main-background-color;
  font-family: 'DTL Nobel';
  color: $main-font-color;
}

a {
  display: inline-block;
  color: $color-red;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:visited {
    color: $color-red;
  }

  &:hover,
  &:focus {
    color: $color-red;
    border-color: $color-red;
  }
}

header {
  margin: 0 auto 20px;
  max-width: 480px;
  height: 50px;
  padding: 0 8px;
  position: relative;
  overflow: hidden;
}

.header-menu {
  position: absolute;
  top: 0;
  right: 8px;
  line-height: 14px;
  font-size: 14px;
  padding-top: 18px;
}


.logo-svg {
  @include min-screen(500px) {
    margin-left: 0;
  }

  max-height: 50px;
  margin-left: -185px;
}


.logo-svg__banner {
  @include max-screen(499px) {
    display: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 8px;
}


.header {
  font-size: 1.1em;
}

.header--name {
  margin: 0;
  font-size: 1em;
  padding: 0;
}

.header--sub {
  font-size: 1em;
  margin-top: 30px;
}

.box {
  padding: 20px;
  border-left: 5px solid $membership-valid-color;
  background-color: $box-background-color;

  & + & {
    margin-top: 20px;
  }
}

.box--invalid {
  border-left-color: $membership-invalid-color;
}


.box--small {
  font-size: .95em;
  padding: 17px;

  & + & {
    margin-top: 15px;
  }
}


.box__section {
  & + & {
    margin-top: 1em;
  }
}


footer {
  margin-top: 75px;
  text-align: center;
  font-size: .8em;
  color: $footer-color;
}

.version {
  display: inline-block;
  font-size: .7em;
  margin-top: 15px;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.footer-menu {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.footer-menu__item {
  display: inline;

  & + & {
    margin-left: 30px;
  }
}


button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  color: $button-default-color;
  background-color: $button-default-background-color;

  &:focus {
    outline: none;
  }

  .success {
    background-color: $color-green;
  }
}
