@import '../settings';
@import '../../node_modules/normalize.scss/normalize';
@import '../../node_modules/ladda/css/ladda';
@import '../mq-mixins';

@import '../fonts';


*,
:after,  // sass-lint:disable-line pseudo-element
:before {  // sass-lint:disable-line pseudo-element
  -webkit-box-sizing: border-box;  // sass-lint:disable-line no-vendor-prefixes
  -moz-box-sizing: border-box;  // sass-lint:disable-line no-vendor-prefixes
  box-sizing: border-box;
}


.mobile-top-bar {
  .mobile-standalone & {
    background-color: $color-red;
    height: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}


body {
  background-color: $main-background-color;
  font-family: 'DTL Nobel';
  color: $main-font-color;
}

a {
  display: inline-block;
  color: $color-red;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus,
  &:visited {
    color: $color-red;
    text-decoration: none;
  }

  .no-touchevents &:hover,
  .no-touchevents &:focus {
    color: $color-red;
    border-color: $color-red;
  }
}

.block {
  display: inline;
}

.inline {
  display: inline;
}

.float-right {
  float: right;
}

header {
  margin: 0 auto;
  max-width: 480px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.header-wrap {
  margin-bottom: 20px;
  background-color: $color-red;

  .mobile-standalone & {
    padding-top: 20px;
  }
}

.header-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: $header-title-color;
}


.logo-svg {
  height: 50px;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 8px;
}

.heading {
  font-size: 1.1em;
}

.heading--name {
  margin: 0;
  font-size: 1em;
  padding: 0;
}

.heading--sub {
  font-size: 1em;
  margin-top: 30px;
}

.box {
  padding: 20px;
  border-left: 5px solid $membership-valid-color;
  background-color: $box-background-color;

  & + & {
    margin-top: 20px;
  }
}

.box--invalid {
  border-left-color: $membership-invalid-color;
}

.box--inactive {
  border-left-color: $color-blue;
}


.box--small {
  font-size: .95em;
  padding: 17px;

  & + & {
    margin-top: 15px;
  }
}


.box__section {
  & + & {
    margin-top: 1em;
  }
}


footer {
  margin-top: 75px;
  text-align: center;
  font-size: .8em;
  color: $footer-color;
}

.version {
  display: inline-block;
  font-size: .7em;
  margin-top: 15px;
  opacity: 0;
  // cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.footer-menu {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.footer-menu--sub {
  margin: 0 0 30px;
  padding-top: 10px;
  border-top: 1px solid $border-color;

  a {
    color: darken($color-red, 20);
  }

  .external-link-icon-svg {
    fill: darken($color-red, 20);
  }
}

.footer-menu__item {
  display: inline;

  & + & {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid $border-color;
  }
}


button,
.btn {
  display: inline-block;
  margin: 0;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  color: $button-default-color;
  background-color: $button-default-background-color;

  &:focus {
    outline: none;
  }

  &.success {
    background-color: $color-blue;
  }

  &:disabled {
    opacity: .7;
  }

  &.block {
    display: block;
  }

  &.btn-sm {
    padding: 3px 10px;
    font-size: .8em;
  }
}

.login-form {
  margin: 0 auto;
  max-width: 280px;
}

.login-form__button-container {
  display: flex;
  margin-top: 2em;
  flex-direction: row-reverse;
  margin-right: -5px;

  button {
    margin: 5px;
  }
}

.login-form__link-container {
  margin-top: 2em;
  text-align: right;
  font-size: .9em;

  a {
    display: inline-block;
    margin-bottom: .5em;
  }
}

.login-form__error {
  margin: .5em 0 1em;
  padding: 1em;
  background-color: lighten($color-red, 40);
}

.login-form__intro {
  margin: 1em 0;
}

.login-form__intro--success {
  margin: 1em 0;
  padding: 1em .5em;
  background-color: lighten($color-green, 40);
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  &[type='number'],
  &[type='email'],
  &[type='password'],
  &[type='text'] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
    -webkit-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
    -moz-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    -webkit-box-shadow: none;  // sass-lint:disable-line no-vendor-prefixes
    box-shadow: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: $color-blue;
    margin-bottom: 1em;
  }

  &:disabled {
    opacity: .7;
  }
}

.external-link-icon-svg {
  height: 1em;
  margin-left: .5em;
  margin-bottom: -2px;
  fill: $color-red;
  opacity: .7;
}


.updating-status {
  float: right;
  font-weight: lighter;
  line-height: 25px;
  display: block;

  animation: pulsate 2s ease-out;
  -webkit-animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
      opacity: 0.3;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.3;
  }
}

.updated-timestamp {
  padding-bottom: 1em;
  font-weight: lighter;
}
