<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mitt medlemskap - Den Norske Turistforeningn</title>
    <meta name="description" content="Informasjon om ditt medlemsskap i Den Norske Turistforening">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#b43f2e">
    <meta name="robots" content="noindex">
    <script type="text/javascript">
      var ratatoskr = {version: '{{ VERSION }}'};
      {% if userData %}ratatoskr.user: {{userData | safe}};{% endif %}
    </script>
  </head>
  <body>
    <div id="root"></div>

    <footer>
      &copy; Den Norske Turistforening
      <div class="version">
        Version: {{ VERSION }}
      </div>
    </footer>

    {% if GA_CODE %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GA_CODE }}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
  </body>
</html>
