<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mitt medlemskap - Den Norske Turistforeningn</title>
    <meta name="description" content="Informasjon om ditt medlemsskap i Den Norske Turistforening">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="format-detection" content="telephone=no">

    <link rel="manifest" href="/manifest.json">

    <!-- Google Tag Manager -->
    {% if GTM_CODE %}
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GTM_CODE }}');</script>
    {% endif %}
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
      var ratatoskr = {version: '{{ VERSION }}'};
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    {% if GTM_CODE %}
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_CODE }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    <!-- End Google Tag Manager (noscript) -->

    <div id="root"></div>

    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js"></script>
  </body>
</html>
