<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mitt medlemskap - Den Norske Turistforeningn</title>
    <meta name="description" content="Informasjon om ditt medlemsskap i Den Norske Turistforening">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <h1>Offline</h1>


    <footer>
      &copy; Den Norske Turistforening
      <div class="version">
        Version: {{ VERSION }}
      </div>
    </footer>

  </body>
</html>
